<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/site_media/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/site_media/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/site_media/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://127.0.0.1:8000/auth?code=8659a4c18d07b6e4f79a">ACTUALLY</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Project 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Project 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Project 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Project 4</strong>
                                        <span class="pull-right text-muted">0% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">0% Complet</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="https://github.com/login/oauth/authorize"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="http://127.0.0.1:8000/auth?code=8659a4c18d07b6e4f79a"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a class="active" href="forms.html"><i class="fa fa-edit fa-fw"></i> New Project</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Project Information</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Assign Works To Developers
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" action="forms3.html">
                                        <div class="form-group" id="sections">
                                            <label>Section 1 </label>
                                            <br>
                                            <!--<div class="addsection">-->
                                            <p class="form-control-static">Section Name: </p>
                                            <input class="form-control-inline secName">
                                            <br>
                                            <p class="form-control-static">Section Workload / Whole Project Workload: </p>
                                            <input type="number" class="form-control-inline secPer" style="width: 50px" max="100"><span> %</span>
                                            <!--<p class="form-control-static">Weight in the whole project:
                                            <select class="form-control-inline">
                                                <option>20%</option>
                                                <option>40%</option>
                                                <option>60%</option>
                                                <option>80%</option>
                                            </select>
                                            </p>-->
                                            <br>
                                            <p class="form-control-static">Assign developers:</p>
                                                <select multiple class="form-control secDeveloper">
                                                    <option>Long Ma</option>
                                                    <option>Jin Sha</option>
                                                    <option>Yachen Hsieh</option>
                                                    <option>Wen Zhu</option>
                                                    <option>Yiming Jia</option>
                                                    <option>Zhe Nan</option>
                                                    <option>Xinhe Lian</option>
                                                    </select>
                                            <br>
                                            <!--</div>-->
                                            <button type="button" class="btn btn-xs btn-link" id="newSecBtn">Add another section...</button>
                                            <p class="help-block totalPer">The percentages must add up to 100%.</p>
                                            <!--<script>
                                            var count = 1;
                                            function addNewSection() {
                                                count += 1;
                                                var title = document.createElement("LABEL");
                                                title.innerHTML = "Section " + count.toString();
                                                document.getElementById("sections").appendChild(title);
                                                var oldSection = document.getElementsByClassName("addsection")[count-2];
                                                var newSection = oldSection.cloneNode(true);
                                                document.getElementById("sections").appendChild(newSection);
                                                oldSection.removeChild(oldSection.childNodes[3]);
                                                //lastSection.removeChild(oldBtn);
                                            } 
                                            </script>-->
                                            
                                        </div>

                                        <button type="submit" class="btn btn-default">Next</button>
                                        <!--<button type="reset" class="btn btn-default">Reset</button>-->
                                    </form>
                                </div>
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/site_media/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/site_media/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/site_media/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/site_media/js/sb-admin-2.js"></script>
    <script type="text/javascript">
            var count = 1;
            var mileCount = 4;
            $("#newSecBtn").click(function() {
                    window.count += 1;
                    var sectionName = "Section " + window.count.toString();
                    var title = $("<label></label>").text(sectionName);
                    //alert("ads");
                    $("#sections").append(title);
                    $("#sections").append("<br>");
                    var nameLabel = $("<p></p>").text("Section Name: ").addClass("form-control-static");
                    //ar oldSection = document.getElementsByClassName("addsection")[count-2];
                    //var newSection = oldSection.cloneNode(true,true);
                    var newSecName = $(".secName").first().clone().val("");
                    var perLabel = $("<p></p>").text("Section Workload / Whole Project Workload: ").addClass("form-control-static");
                    var newSecPer = $(".secPer").first().clone().val("");
                    $("#sections").append(nameLabel);
                    $("#sections").append(newSecName); 
                    $("#sections").append("<br>");
                    $("#sections").append(perLabel);
                    $("#sections").append(newSecPer);
                    $("<span></span>").text(" %").appendTo("#sections");
                    $("#sections").append("<br>");
                    $("<p></p>").text("Assign developers:").addClass("form-control-static").appendTo("#sections");
                    $(".secDeveloper").first().clone().val("").appendTo("#sections");
                    $("#sections").append("<br>");
                    //var newBtn = $("<button></button>").text("Add another section...");
                    var newBtn = $("#newSecBtn").clone(true,true);
                    $("#newSecBtn").remove();
                    var msg = $(".totalPer").clone(true,true);
                    $(".totalPer").remove();
                    $("#sections").append(newBtn,msg);
            })
            $("#newMilBtn").click(function() {
                    window.mileCount += 1;
                    var mileName = "Milestone " + window.mileCount.toString() + ":";
                    var title = $("<p></p>").text(mileName).addClass("form-control-static");
                    $("#milestones").append(title);
                    //var oldMile = document.getElementsByClassName("mileTitle")[mileCount-2];
                    //var newMile = oldMile.cloneNode(true);
                    var newMile = $(".mileTitle").first().clone().val("");
                    $("#milestones").append(newMile);
                    var date = $("<p></p>").text("Estimate Deadline").addClass("form-control-static");
                    $("#milestones").append(date);
                    //var oldDate = document.getElementsByClassName("mileDate")[mileCount-2];
                    //var newDate = oldDate.cloneNode(true);
                    var newDate = $(".mileDate").first().clone().val("");
                    $("#milestones").append(newDate);
                    var newBtn = $("#newMilBtn").clone(true,true);
                    $("#newMilBtn").remove();
                    $("#milestones").append(newBtn);
            })
    </script>

</body>

</html>
