<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/site_media/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/site_media/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/site_media/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://127.0.0.1:8000/auth?code=8659a4c18d07b6e4f79a">ACTUALLY</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right" style="float: right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        {% for project in projects%}
                        <li>
                            <a href="/viewproject?type={{project.type}}&id={{project.id}}">
                                <div>
                                    <p>
                                        <strong>{{project.name}}</strong>
                                        <span class="pull-right text-muted">{{project.progress}}% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                    {% if project.color == 'red'%}
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.progress}}%">
                                    {% endif %}

                                    {% if project.color == 'yellow'%}
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.progress}}%">
                                    {% endif %}

                                    {% if project.color == 'green'%}
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.progress}}%">
                                    {% endif %}

                                            <span class="sr-only">{{project.progress}}% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        {% endfor %}
                        <li>
                            <a class="text-center" href="http://127.0.0.1:8000/auth?code=2055b1ff8b4be0682542">
                                <strong>See All Projects</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                
                <!-- /.dropdown -->
                <li class="dropdown" style="margin-right: 0px">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="profile">
                        <i style="padding-left: 5px;">
                                <span id="profile-name">{{user.username}}<img id="profile-pic" class="img-circle img-responsive" src="{{user.userimg}}"></span>

                            </i>
                            <!--<i class="fa fa-caret-down"></i>-->
                        <!--<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>-->
                    </a>
                    <ul class="dropdown-menu dropdown-user" style="display: none">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="https://github.com/login/oauth/authorize"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper-home">
            <div class="row">
                {% if newprojects != "" %}
                <div class="col-lg-12">
                    <h3 class="page-header" id="formTitle">Create A New Project</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" id="step1">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-heading form-heading">
                            
                                Step 1 of 3: Select A Repository
                            
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-fields">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label>Project Name</label>
                                            <input class="form-control" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label>Github Repository</label>
                                            <select multiple class="form-control" id="repo">
                                                    {% for newproject in newprojects%}
                                                        <option>{{newproject.repo}}</option>

                                                    {% endfor %}
                                            </select>
                                        </div>
                                        <div class="button-container">
                                        <button type="button" class="btn btn-default" id="toSecond">Add</button>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% else %}
                <div class="col-lg-12">
                    <h3 class="page-header" id="formTitle">We can't find any repos on your Github account, please setup a project on Github first!</h3>
                </div>
            {% endif %}
            <!-- /.row -->
            <!-- /.row -->
            <div class="row" id="step2" style="display: none">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading form-heading">
                            Step 2 of 3: Assign Works To Developers
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-fields">
                                    <form role="form" action="#">
                                        <div class="form-group" id="sections">
                                            <label>Developer 1 </label>
                                            <div class="section" style="margin-left: 30px">
                                            <!--<div class="addsection">-->
                                            <p class="form-control-static">Developer: </p>
                                                <select multiple class="form-control secDeveloper">
                                                   
                                                    {% for newproject in newprojects%}
                                                        {% for contributor in newproject.contributors %}
                                                        <option>{{contributor}}</option>
                                                        {% endfor %}
                                                    {% endfor %}
                                                    </select>
                                            <br>
                                            <p class="form-control-static">Section Name: </p>
                                            <span class="help-block secMsg">A section is the work that is assigned to a developer.</span>
                                            <input class="form-control-inline secName">
                                            <br>
                                            <br>
                                            <p class="form-control-static">Section Percentage: </p>
                                            <span class="help-block secPerMsg">The percentage that the section constitutes of the whole project workload.</span>
                                            <input type="number" class="form-control-inline secPer" style="width: 50px" max="100"><span> %</span>
                                            <br>
                                            <br>
                                            </div>
                                            <button type="button" class="btn btn-xs btn-link" id="newSecBtn">Add another developer...</button>
                                            <p class="help-block totalPer">The percentages must add up to 100%.</p>
                                            
                                        </div>
                                        <div class="button-container">
                                            <button type="button" class="btn btn-default" id="toThird">Next</button>
                                        </div>
                                        <!--<button type="reset" class="btn btn-default">Reset</button>-->
                                    </form>
                                </div>
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row" id="step3" style="display: none">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading form-heading">
                            Step 3 of 3: Edit Project Milestones
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-fields">
                                    <form role="form" action="#">
                                        <div class="form-group" id="milestones">
                                            <label>Milestone 1</label>
                                            <p class="form-control-static indent"> Milestone Name: </p>
                                            <input class="form-control-inline mileTitle indent" type="text" value="Milestone 1">
                                            <p class="form-control-static indent"> Estimate Deadline: </p>
                                            <input class="form-control-inline mileDate indent" type="date" value="2014-09-15">
                                            <br>
                                            <br>
                                            <label>Milestone 2</label>
                                            <p class="form-control-static indent"> Milestone Name: </p>
                                            <input class="form-control-inline mileTitle indent" type="text" value="Milestone 2">
                                            <p class="form-control-static indent"> Estimate Deadline: </p>
                                            <input class="form-control-inline mileDate indent" type="date" value="2014-10-15">
                                            <br>
                                            <br>
                                            <label>Milestone 3</label>
                                            <p class="form-control-static indent"> Milestone Name: </p>
                                            <input class="form-control-inline mileTitle indent" type="text" value="Milestone 3">
                                            <p class="form-control-static indent"> Estimate Deadline: </p>
                                            <input class="form-control-inline mileDate indent" type="date" value="2014-11-08">
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-xs btn-link" id="newMilBtn"><i class="fa fa-plus fa-fw"></i>Add another milestone...</button>
                                        </div>
                                        <div class="button-container">
                                            <button type="button" class="btn btn-default" id="lastStep">Submit</button>
                                        </div>
                                        <!--<button type="reset" class="btn btn-default">Reset</button>-->
                                    </form>
                                </div>
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>            
        </div>


        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <div id="page-wrapper" style="display: none">
            <!-- /.row -->
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/site_media/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/site_media/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/site_media/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/site_media/js/sb-admin-2.js"></script>
    <script src="/site_media/js/forms.js"></script>


</body>

</html>
